div.aspect_col{
	margin-bottom: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #FFFFFF;
    border-radius: 5px;
    background-color: white;
}
.goast{
	height: 100%;
	vertical-align: middle;
	display: inline-block;
	color: white;
}
.goast:before{
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.comment_list{
    margin: 0 0 0 -40px;
	height: 80px;
	overflow: auto;
	word-wrap: break-word;
	word-break: normal;
}
.isEmpty{
	visibility: hidden;
}
.aspect_title input{
	display: none;
}
.is-editing .aspect_title input{
	display: block;
}
.is-editing .comment_input{
	display: none;
}
.comment_input{
	display: block;
}
.DimensionID{
	display: none;
}
.topic_image img{
	max-width: 200px;
	max-height: 200px;
	width: 200px;
	height: 200px;
}
.expand{
	float: right;
}
.opName{
	font-weight: bold;
	background: #E2E2E2;
}
.DimensionTitle{
	font-weight: bold;
	font-size: 18px;
}
.aspect_title{
	height: 30px;
}
hr{
	margin: 0;
	border-top-color: #000000;
}
ul{
	list-style-type: none;
}
.topic-content{
	word-wrap:break-word;
	word-break:normal;
}