@media all and (min-width: 768px){
	.hexagon {
	margin-right: auto;
	margin-left: auto;
	width: 240px;
	height: 132px;
	background: #dd4814;
	position: relative;
	text-align: center;
	vertical-align: middle;
	}
	.hexagon:before {
	content: "";
	position: absolute;
	top: -60px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-bottom: 60px solid #dd4814;
	}
	.hexagon:after {
	content: "";
	position: absolute;
	bottom: -60px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 120px solid transparent;
	border-right: 120px solid transparent;
	border-top: 60px solid #dd4814;
	} 
	.small-more{
		display: none;
	}
}
@media all and (max-width: 768px){
	.large-more{
		display: none;
	}
	.hexagon{
		margin-right: auto;
		margin-left: auto;
		width: 300px;
		height: 50px;
		background: #dd4814;
		position: relative;
		text-align: center;
		vertical-align: middle;
	}
}